@model Dsa.RapidResponse.Services.Event

<div id="container">
    <h2>
        What: @Model.Title
    </h2>

    <h4>
        When: @Model.Time
    </h4>
    <h4>
        <a href="@Model.ExternalLink">Link</a>
    </h4>
    <h3>
        Details
    </h3>
    <p>
        <markdown>
            @Html.Raw(Model.Details)
        </markdown>
    </p>

    @if (User.Identity.IsAuthenticated) {
    <p>
        <a asp-area-"" asp-controller="Events" asp-action="SignUp" asp-route-id="@Model.Id">I'll be there!</a>
    </p>
    }
</div>