@model Dsa.RapidResponse.Models.EventDetailsModel

<div id="container">
    <h2>
        What: @Model.Title
    </h2>

    <h4>
        When: @Model.Time
    </h4>
    <h4>
        <a href="@Model.ExternalLink">Link</a>
    </h4>
    <h3>
        Details
    </h3>
    <p>
        <markdown>
            @Html.Raw(Model.Details)
        </markdown>
    </p>

    <br/>
    @if (User.Identity.IsAuthenticated) {
    <h3>
        @Model.UserCount people are going
    </h3>
    <table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            </tr>
        }
    </tbody>
    </table>
    }


    @if (User.Identity.IsAuthenticated && Model.CanRsvp) {
    <p>
        <a asp-area-"" asp-controller="Events" asp-action="SignUp" asp-route-id="@Model.EventId">I'll be there!</a>
    </p>
    }
</div>