@model IEnumerable<Dsa.RapidResponse.Models.AvailabilityModel>

<div id="container">
    <h2>
        User Availability
    </h2>
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DayOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DayOfWeek)
                </td>
                <td>
                    <!--@Html.DisplayFor(modelItem => item.Start.TimeOfDay)-->
                    @item.Start.TimeOfDay
                </td>
                <td>
                    <!--@Html.DisplayFor(modelItem => item.End.TimeOfDay)-->
                    @item.End.TimeOfDay
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>

</div>