@model IEnumerable<Dsa.RapidResponse.AvailabilityModel>

<div id="container">
    <h2>
        Your Current Availability
    </h2>
    <table class="table">
    <thead>
        <tr>
            <th>
                Edit
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-area-"" asp-controller="Availability" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DayOfWeek)
                </td>
                <td>
                    <!--@Html.DisplayFor(modelItem => item.Start.TimeOfDay)-->
                    @item.Start.TimeOfDay
                </td>
                <td>
                    <!--@Html.DisplayFor(modelItem => item.End.TimeOfDay)-->
                    @item.End.TimeOfDay
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
    <div>
        <p class="text-muted">
            Click below to add a new time that you can be available to respond when needed.
        </p>
        <p>
        <a asp-area-"" asp-controller="Availability" asp-action="Add">Add Availability</a>
        </p>
    </div>
</div>